/* All Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
body {
  background-color: #fdebec;
}

/* Container Style */
.container {
  max-width: 500px;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2% 3%;
  border-radius: 10px;
  background-color: #272c85;
  box-shadow: -2px 7px 20px 4px #272c85;
}
/* Container title Style */
.title h2 {
  color: #fdebec;
  font-size: 30px;
  margin-bottom: 20px;
}
/* Container paragraph Style */
#desk p {
  color: #fdebec;
  font-size: 15px;
  letter-spacing: 0.5px;
  width: 300px;
  margin-bottom: 40px;
}

/* Select Style */
select {
  color: #000;
  background-color: #fdebec;
  min-width: 50%;
  min-height: 30px;
  border-radius: 5px;
  padding: 10px;
}
/* Generate button Style */
button {
  color: #fdebec;
  background-color: transparent;
  border: 1px solid #fdebec;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
  transition: all 0.3s;
}
/* Generate button hovering Style */
button:hover {
  color: #000;
  background-color: #fdebec;
  cursor: pointer;
}
/* +-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+ */
/* JS code Style */
/* Result page Style */
.result{
  max-width: 500px;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2% 3%;
  border-radius: 10px;
  background-color: #272c85;
  box-shadow: -2px 7px 20px 4px #272c85;
}
/* fake id and fake id span Style */
.fake-id , .fake-id span{
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
}